@import "assets/scss/utils/vars.scss";

.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $todo-pink;
  padding: 1rem;
  color: $default-color;

  &:not(:last-child) {
    margin-bottom: 6px;
  }

  &-info {
    span {
      padding: 0 1rem;
    }
  }
}
