@import "assets/scss/utils/vars.scss";

.wrapper__input {
  display: flex;
  align-items: center;

  .input {
    &--text {
      border: none;
      font-size: 1rem;
      width: 478px;
      color: $neutral-secondary;
      padding: 0.6rem 1rem;
      outline: 1px solid $border-base;
      transition: outline 0.2s ease-in-out;

      &::placeholder {
        color: $neutral-placeholder;
      }
    }

    &--checkbox {
      margin-right: 0.8rem;
    }
  }
}
